@import './theme.scss';

* {
    margin: 0;
}
html {
    background-color: white;
    font: $fontSize4/1.45 'Open Sans',sans-serif;
    font-size: $fontSize4;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    h1 { @include H(1); }
    h2 { @include H(2); }
    h3 { @include H(3); }
    h4 { @include H(4); }
    h5 { @include H(5); }
    h6 { @include H(6); }
}
div {
    box-sizing: border-box;
}
input, button {
    border: none;
    background: transparent;
    &:focus {
        border: none;
        outline: none;
    }
}
button {
    cursor: pointer;
}

