@import '../../styles/theme.scss';

.search-input {
    @include flexHorizontal;
    border: 1px solid $black600;
    border-radius: 30px;
    overflow: hidden;
    .input {
        padding: 4px 16px;
        transition: width 0.4s ease;
        width: 60px;
        &-focus {
            width: 100px;
        }
    }
    .button {
        cursor: pointer;
    }
}