@import '../../styles/theme.scss';

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    z-index: 9999;
    overflow: hidden;
    background-color: white;
    @include boxShadow;
    @include flexHorizontal;
}